.dashboard-container {
    display: flex;
    height: 100vh;
}

.content {
    margin-left: 250px; /* Adjust this to your sidebar width */
    padding: 20px;
    background-color: rgb(255, 255, 255); /* You can change this to a lighter shade of your primary color */
    width: 100%;
    overflow-y: auto;
}

.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 3rem;
}

.mb-3 {
    margin-bottom: 1rem;
}


